@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(176, 236, 106);

}

.canvas {
  display: none;
}

.startGame {
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: 150%;

}


.btn {
  background-color: transparent;
  border-radius: 0.6em;
  padding: 0.5em 1.5em;
}

.btn_style {
  border-color: #F24949;
  color: #fff;
  box-shadow: 0 0 20px 20px #F24949 inset, 0 0 0 0 #F24949;
  transition: all 150ms ease-in-out;
  background: #fc6b6b;
  font-family: 'Cute Font', cursive;
  font-size: 25px;
}

.btn_style:hover {
  box-shadow: 0 0 10px 0 #F24949 inset, 0 0 10px 4px #F24949;
}

@font-face {
  font-family: 'kurbanistika';
  src: url('kurbanistika.ttf') format('truetype');
}

.title {
  font-family: 'kurbanistika', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 120px;
  color: white;
  margin-bottom: 30px;
}

.info {
  font-family: 'Cute Font', cursive;
  font-size: 30px;
  color: white;
  margin-bottom: 80px;
}